@import './mixins.scss';
@import './variables.scss';
@import './utils.scss';

.description__block {
  @include flex;
  flex-wrap: wrap;
  gap: useRem(32);
  @media only screen and (min-width: 769px) and (max-width: 1183px) {
    justify-content: center;
  }
}

.description {
  min-width: useRem(560);
  max-width: useRem(560);
  width: 100%;
  height: useRem(245);

  @media only screen and (min-width: 320px) and (max-width: 768px) {
    min-width: 100%;
    height: 100%;
  }

  .description__title {
    font-size: useRem(18);
  }
  .description__text {
    color: $text_dark_color;
    font-size: useRem(16);
    line-height: useRem(28);
    margin-top: useRem(17);
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      margin-top: useRem(46);
    }
    @media only screen and (min-width: 320px) and (max-width: 375px) {
      margin-top: useRem(14);
    }
  }
}
