@import './mixins.scss';
@import './variables.scss';
@import './utils.scss';
@import './mixins.scss';

.footer {
  font-size: useRem(18);
  @include flex;
  justify-content: center;
  min-height: useRem(88);
  border-top: 1px solid $input_border_color;
}
