@import './mixins.scss';
@import './variables.scss';
@import './utils.scss';

.section__form {
  padding-top: useRem(80);
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    padding-top: useRem(56);
  }
}

.text__field {
  flex: 1;
  height: useRem(64);

  .input__container {
    max-width: useRem(384);
    width: 100%;
    position: relative;
    background-color: $bgc;
    border: useRem(1) solid transparent;
    border-radius: useRem(4);
    transition:
      background-color 0.3s,
      border 0.3s;
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      max-width: useRem(352);
    }
    &.focused {
      background-color: $color_white;
      border: useRem(1) solid $color_pagination;
    }

    &.error {
      border: useRem(1) solid $color_red;
    }

    &.filled {
      background-color: $color_white;
      border: useRem(1) solid $input_border_color;
    }

    input {
      width: useRem(384);
      padding: useRem(14) useRem(16);
      padding-top: useRem(30);
      padding-bottom: useRem(10);
      border: none;
      background: transparent;
      font-size: useRem(18);
      @media only screen and (min-width: 375px) and (max-width: 768px) {
        max-width: useRem(352);
      }
      @media only screen and (min-width: 320px) and (max-width: 374px) {
        max-width: useRem(288);
      }

      &:focus {
        outline: none;
      }

      &:placeholder-shown + label {
        font-size: useRem(18);
        top: useRem(14);
        left: useRem(16);
      }
    }

    label {
      position: absolute;
      top: useRem(22);
      left: useRem(16);
      color: $color_light_grey;
      pointer-events: none;
      transition: all 0.3s;
      @media only screen and (min-width: 320px) and (max-width: 768px) {
        font-size: useRem(18);
      }
    }

    input:focus + label,
    &.focused label,
    .shrink {
      font-size: useRem(14);
      top: useRem(2);
      left: useRem(12);
      background: $color_white;
      padding: 0 useRem(4);
    }

    .valid__icon {
      position: absolute;
      right: useRem(16);
      top: 50%;
      transform: translateY(-50%);
      color: $color_white;
      background-color: $color_green;
      width: useRem(22);
      height: useRem(22);
      border-radius: 50%;
      padding-left: useRem(5);
    }

    .invalid__icon {
      position: absolute;
      right: useRem(16);
      top: 50%;
      transform: translateY(-50%);
      color: $color_white;
      background-color: $color_red;
      width: useRem(22);
      height: useRem(22);
      border-radius: 50%;
      padding-left: useRem(5);
      padding-bottom: useRem(4);
    }
  }

  .helper__text {
    margin-top: useRem(4);
    font-size: useRem(12);
    color: gray;

    &.error {
      color: $color_red;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: useRem(32);
  max-width: useRem(800);
  margin: 0 auto;
  margin-top: useRem(80);
  padding-bottom: useRem(80);
  @media only screen and (min-width: 320px) and (max-width: 820px) {
    margin-top: useRem(56);
    padding-bottom: useRem(56);
    padding-left: useRem(16);
    padding-right: useRem(16);
    max-width: useRem(352);
  }

  .form__fields {
    display: flex;
    gap: useRem(32);
    max-width: useRem(800);

    @media only screen and (min-width: 320px) and (max-width: 820px) {
      flex-direction: column;
    }
  }

  .agree__submit {
    @include flex;
    justify-content: space-between;
    max-width: useRem(800);
    width: 100%;
    @media only screen and (min-width: 320px) and (max-width: 820px) {
      flex-direction: column;
    }

    .form__control {
      display: flex;
      align-items: flex-start;
      gap: useRem(16);
      max-width: useRem(384);
      width: 100%;
      height: useRem(64);
      @media only screen and (min-width: 320px) and (max-width: 768px) {
        max-width: useRem(352);
      }

      input[type='checkbox'] {
        cursor: pointer;
        margin-right: useRem(8);
        width: useRem(24);
        height: useRem(24);
        border: useRem(2) $color_pagination solid; // почему не применяется?
        border-radius: useRem(4);
      }

      label {
        cursor: pointer;
        color: $text_dark_color;
        font-size: useRem(16);
      }
    }

    button {
      background-color: $color_blue;
      color: $color_white;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s;
      max-width: useRem(384);
      width: 100%;
      height: useRem(64);
      border-radius: useRem(4);
      font-size: useRem(20);
      font-weight: 600;
      &:hover {
        background-color: $color_white;
        border: 1px solid $color_pagination;
        color: $text_dark_color;
      }
      @media only screen and (min-width: 320px) and (max-width: 768px) {
        max-width: 100%;
      }
    }
  }
}
