@import './mixins.scss';
@import './variables.scss';
@import './utils.scss';

.section__form {
  padding-top: useRem(80);
}

.customTextField {
  flex: 1;
  height: 64px;

  .input-container {
    max-width: useRem(384);
    width: 100%;
    position: relative;
    background-color: #f0f0f0;
    border: 1px solid transparent;
    border-radius: 4px;
    transition:
      background-color 0.3s,
      border 0.3s;

    &.focused {
      background-color: #fff;
      border: 1px solid gray;
    }

    &.error {
      border: 1px solid red;
    }

    &.filled {
      background-color: #fff !important; // Цвет фона, когда поле содержит текст
      border: 1px solid $input_border_color; // Цвет рамки, когда поле содержит текст
    }

    input {
      width: useRem(384);
      // width: 100%;
      padding: 14px 16px;
      padding-top: 30px;
      padding-bottom: 10px;
      border: none;
      background: transparent;
      font-size: 1.125rem; // 18px

      &:focus {
        outline: none;
      }

      &:placeholder-shown + label {
        font-size: 1.125rem; // 18px
        top: 14px;
        left: 16px;
      }
    }

    label {
      position: absolute;
      top: 22px;
      left: 16px;
      color: gray;
      pointer-events: none;
      transition: all 0.3s;
    }

    input:focus + label,
    &.focused label,
    .shrink {
      font-size: 0.875rem; // 14px
      top: 2px;
      left: 12px;
      background: #fff;
      padding: 0 4px;
    }

    .valid-icon {
      position: absolute;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
      color: $color_white;
      background-color: $color_green;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      padding-left: 5px;
    }

    .invalid-icon {
      position: absolute;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
      color: $color_white;
      background-color: $color_red;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      padding-left: 5px;
      padding-bottom: 4px;
    }
  }

  .helper-text {
    margin-top: 4px;
    font-size: useRem(12);
    color: gray;

    &.error {
      color: $color_red;
    }
  }
}

.myForm {
  display: flex;
  flex-direction: column;
  gap: useRem(32);
  max-width: 800px;
  margin: 0 auto;
  margin-top: 80px;
  padding-bottom: useRem(80);

  .formFields {
    display: flex;
    gap: useRem(32);
    max-width: 800px;
  }

  .agree__submit {
    @include flex;
    justify-content: space-between;
    max-width: 800px;
    width: 100%;

    .form-control {
      display: flex;
      align-items: flex-start;
      gap: 1rem;
      max-width: useRem(384);
      width: 100%;
      height: useRem(64);

      input[type='checkbox'] {
        cursor: pointer;
        margin-right: 0.5rem;
        width: 24px;
        height: 24px;
        border: 2px $color_pagination solid; // почему не применяется?
        border-radius: 4px;
      }

      label {
        cursor: pointer;
        color: $text_dark_color;
        font-size: useRem(16);
      }
    }

    button {
      background-color: $color_blue;
      color: white;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s;
      max-width: useRem(384);
      width: 100%;
      height: useRem(64);
      border-radius: useRem(4);
      font-size: useRem(20);
    }
  }
}
