@import './mixins.scss';
@import './variables.scss';
@import './utils.scss';

.header {
  @include flex_column;
  align-items: flex-start;
  background-image: url(../assets/images/header_bgi.png);
  max-width: useRem(1920);
  min-width: useRem(320);
  width: 100%;
  height: useRem(960);
  padding: 0 useRem(16);
  @media only screen and (min-width: 376px) and (max-width: 768px) {
    height: useRem(1024);
    background-image: url(../assets/images/bgi768.png);
  }
  @media only screen and (min-width: 375px) and (max-width: 767px) {
    height: useRem(596);
    background-image: url(../assets/images/bgi375.png);
  }
  @media only screen and (min-width: 320px) and (max-width: 374px) {
    height: useRem(509);
    background-image: url(../assets/images/bgi375.png);
  }
  .header__nav {
    max-width: useRem(1213);
    width: 100%;
    height: useRem(80);
    @include flex;
    margin: 0 auto;
    .nav {
      max-width: useRem(464);
      width: 100%;
      @include flex;
      @media only screen and (min-width: 320px) and (max-width: 768px) {
        display: none;
      }
      .link {
        color: $color_white;
        cursor: pointer;
        position: relative;
        text-decoration: none;
      }
      .link::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 1px;
        background: currentColor;
        transition: transform 0.2s ease-in-out;
        transform: scaleX(0);
        transform-origin: left;
      }

      .link:hover::after {
        transform: scaleX(1);
      }
    }
  }
  .header__content {
    max-width: useRem(748);
    width: 100%;
    height: useRem(334);
    margin: 0 auto;
    @include flex_column;
    justify-content: center;
    color: $color_white;
    margin-top: useRem(219);
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      margin-top: 0;
      height: 100%;
    }
    .title {
      text-align: center;
      margin-bottom: useRem(18);
      font-size: useRem(52);
      @media only screen and (min-width: 376px) and (max-width: 768px) {
        font-size: useRem(32);
      }
      @media only screen and (min-width: 320px) and (max-width: 375px) {
        font-size: useRem(24);
      }
    }
    .header__text {
      margin-bottom: useRem(92);
      font-size: useRem(18);
      @media only screen and (min-width: 320px) and (max-width: 768px) {
        font-size: useRem(16);
        line-height: useRem(28);
        text-align: center;
        max-width: useRem(288);
      }
    }
    .header__button {
      width: useRem(251);
      height: useRem(64);
      background-color: $button_color;
      color: $text_dark_color;
      font-weight: 600;
      font-size: useRem(20);
      border-radius: useRem(4);
      border: none;
      cursor: pointer;
    }
    .header__button:hover {
      background-color: $color_blue;
      color: $color_white;
    }
  }
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
  @media (min-width: 769px) {
    display: none;
  }
}

.bm-burger-bars {
  background: #373a47;
}

.bm-burger-bars-hover {
  background: #a90000;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
  margin-top: useRem(-40);
}

.bm-menu {
  background: $color_white;
  padding: calculateRem(70) calculateRem(20) 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
