@import './mixins.scss';
@import './variables.scss';
@import './utils.scss';

.questions__block {
  max-width: useRem(1008);
  width: 100%;
  padding-bottom: useRem(80);
  @media only screen and (max-width: 768px) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .questions__title {
    margin-bottom: useRem(66);
    @media only screen and (max-width: 767px) {
      font-size: useRem(24);
      margin-bottom: useRem(42);
    }
  }
}
.questions {
  .divider {
    @media only screen and (max-width: 768px) {
      // padding-top: useRem(16);
      margin-bottom: useRem(16);
    }
  }
}
.accordion__summary {
  @include flex;
  align-items: flex-start !important;
  color: $text_dark_color;
  font-weight: 600;
  font-size: useRem(18);
  line-height: useRem(32);
  margin-right: useRem(20);
  padding-top: useRem(16) !important;
  padding-bottom: useRem(16) !important;
  &:hover {
    color: $color_blue;
  }
  @media only screen and (max-width: 768px) {
    // align-items: flex-start !important;
    &:hover {
      color: $text_dark_color;
    }
    // padding-top: useRem(16) !important;
  }
  .MuiAccordionSummary-content {
    @include flex;
    @media only screen and (max-width: 768px) {
      align-items: flex-start !important;
      margin: 0;

      padding-right: useRem(20);
    }
  }
}

.accordion__text {
  color: $color_grey;
  font-size: useRem(18);
  line-height: useRem(32);
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    font-size: useRem(16);
    line-height: useRem(28);
  }
}

.accordion-icon {
  transition: transform 0.3s;
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    // margin-top: useRem(20);
  }
}

.MuiAccordionSummary-expandIconWrapper.Mui-expanded .accordion-icon {
  transform: rotate(45deg);
  // margin-top: useRem(20);
}

.Mui-expanded {
  margin-top: 0 !important;
}

// .MuiPaper-root {
//   @media only screen and (min-width: 319px) and (max-width: 767px) {
//     width: 100%;
//     @include flex;
//     align-items: flex-start;
//   }
// }
