$color_white: #fff;
$color_black: #000;
$color_grey: #5e646a;
$color_blue: #2a6cea;
$color_pagination: #c2c8cd;
$color_light_blue: #397dff;
$button_color: #eceff2;
$text_dark_color: #191c1f;
$bgc: #f6f8fa;
$color_light_grey: #83898f;
$color_green: #25cd82;
$color_red: #f13636;
$input_border_color: #eceff2;
